/* ---------- General styles------------ */

body {
    margin: 0;
    padding: 0;
}

.no-margin { 
    margin: 0;
    color: black;
    font-family: "Nunito Sans";
    font-size: 1.2rem;
}


/* ---------- CONTAINER WIDTH'S------------ */

.Container-width-content {
    width: 50%;
    margin: auto;
}

.Container-width-content-explore {
    width: 50%;
    margin: auto;
}

.Container-width-content-explore h4 {
font-size: 1rem;
}
/* ---------- PADDING BETWEEN SECTIONS AND TITLES------------ */

section { 
    padding-bottom: 50px;
    padding-top: 0;
}

/* ---------- BUTTON STYLES AND HOVERS ------------ */

.btn {
    display: inline-block;
    padding: 0.5em 3em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Oswald";
}

.btn:hover  {
    text-decoration: underline;
}
.Learnmorebtn:hover {
    text-decoration: underline;

}


/* ---------- A HYPERLINK STYLES & HOVERS ------------ */

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none; 
    color: black;
    font-family: "Oswald";
}

/* Typography Styles */

h1 {
    font-size: 42px;
    font-family: "Oswald";
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Oswald";
}

h3 {
    font-size: 22px;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: "Oswald";
}

h4 {
    font-size: 20px;
    font-family: "Oswald";
   
}

p, li, label, input{ 
    font-family: "Nunito Sans";
    font-size: 1rem;
}

.events-activities-h3 {
    margin: 0;
    
}


/* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER */
#header {
    background-color: black;
    height: 100px;
    width: 100%;
}

/* HEADER */
.Logo-nav-holder {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

b {
    display: none;
}

#Logo { 
padding: 20px;
}

#menu-checkbox, .fa-xl {
    display: none;
}

/* NAV */
#nav-front a {
    color: white;
    font-size: 1.2rem;
    margin-left: 40px;
    
}

.btn-tickets {
    background-color:#2A5953; 
    color: white;
}

 
/* Banner Styles */
.container-banner {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-image: url(Images/Exhibition-evolution.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #706a6a;
    height: 60vh; 
    
    
}

.Welcome-text {
    color: white;
    text-transform:uppercase; 
    margin-bottom: 50px;
}

#h1-banner {
    margin: 0;
}
  
#p-banner {
    margin-top: 0;
    text-transform:inherit;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.social-media-icons {
    margin-bottom: 50px;
}

#positioning-margin-instagram {
    margin-bottom: -5px;
}

/* ---------- UNDER BAR BANNER ------------ */

.banner-text { 
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    background-color: #3E363F;
    font-weight: 600;
}

.btn-banner {
    color: black;
    background-color: #EDCA28;
}

.btn-banner:hover {
background-color: #99831f;
    color: white;
}

.banner-text p {
    color: #FFFFFF;
}

.banner-side-color {
    background-color: #3E363F;
}

/* ---------- Title styles - index ------------ */

.Title-seeall-category { 
    width: 100%;
    margin: 30px auto 10px auto; 
    display: flex;
    border-bottom: 2px rgb(219, 216, 216) solid;
}

.content-title-h2 { 
    margin: 0;
}

.title-clickable-seeall {
color: #000000b6;
align-self: flex-end;
padding-left: 5px;
line-height: 2;
font-family: "Oswald";

}


/* ---------- CONTENT 1 ------------ */ /* ---------- INDEX ------------ */
 .Container-width-content p, .container-exhibitions p, .Container-width-content-explore p {
    margin-top: 5px;
 }
 
.container-content1 { 
    width: 100%;
    padding-top: 20px;
    margin: auto;
        display: grid; 
        grid-template-columns: 2fr 1fr; 

}




/* ---------- Welcome text ------------ */ 

.Welcome-text-content1 {
    background-color: #2A5953;
    color: white;
    padding: 0 5px 10px 20px; 
    
}

.Welcome-text-content1 h2 {
    margin: 25px 0px 0px 0px;
}
.p-content1-space {
    padding: 0px 40px 20px 0px;
}

#freeticket-slogan {
    padding: 30px 0 20px 0;
    font-weight: 600;
}

.btn-welcometext {
    background-color: #EDCA28;
    color: black;
    
}

/* ---------- Opening hours - content 1 ------------ */ 

.Opening-hours { 
    text-align: center;
    font-weight: 600;
    background-color: #3E363F;
    color: white;
    margin: 0 0 10px 10px;
    padding-bottom: 40px; 
}

.Opening-hours p {
    margin-top: 10px;
}

/* ---------- NEW PHARAOH EXHIBITION ------------ */ 

.new-exhibition {
    height: 150px;
    background-color: black;
    grid-column: 1 / 3;
    padding-top: 0;
    background-image: url(Images/pharaoh-exhib.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 5px;
}



#white-h3 {
    color: white;
    margin: 0;
}

#white-p {
    margin: 0;
    color: #EDCA28;
    font-size: 20px;
    font-weight: 600;
}



/* ---------- CONTENT 2 EXHIBITIONS ------------ */




.exhibitions {
    width: 100%;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    
}


  .Exhibition-images {
    width: 100%;
    height: 350px;
    min-height: 350px;
    object-fit: cover;
}

  .exhibitions h4 {
    margin: 0;
  }

  .Cosmology {
    background-color: aliceblue;
  }

  .Evolution {
    background-color: aliceblue;
    margin-left: 2em; 
  }

  .btn-learnmore { 
    background-color: black;
    color: white;
    margin: 20px 5px;
    padding: 0.5em 1em;
  }


  /* ---------- CONTENT 3 UPCOMING EVENTS ------------ */


.container-events {
    display: flex;
    gap: 25px;
}
.container-events img {
   width: 100%;
   height: 20vh;
   object-fit: cover; 
   max-width: 100%;
}

.event-content {
    flex: 1;
    border: rgba(230, 234, 238, 0.808) 2px solid;
    border-radius: 5px;
    
}

/* ---------- CONTENT 4 UPCOMING ACTIVITIES  ------------ */

.container-activities {
    display: flex;
    gap: 25px;
}


.container-activities img {
    width: 100%;
    object-fit: cover;
    height: 250px;
}

/* ---------- ARROW UP BTN ------------ */

.btn-arrow-up { 
    float: right; 
    background-color: #EDCA28;
    padding: 0 30px 0px 30px;
    margin-top: 50px;
    
}

.btn-arrow-up img { 
    width: 30px;
    height: 30px;
}


/* ---------- FOOTER ------------ */


footer {
    margin-top: 150px;
    
}

.footer {
    background-color: black;
    color: white;
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
}


.footer-side-color {
    background-color: black;
}


.location-socialmedia h4 {
    margin: 0;
    padding-top: 10px;
    color: #EDCA28;
    font-size: 1.2rem;
    font-family: "Nunito Sans";
}

.location-socialmedia p {
    margin: 0;
}

.location-socialmedia {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    
    
}

.location-socialmedia p {
    font-weight: 600;
    
}


.navigation-footer { 
    display: flex;
    flex-direction: column;
}

.navigation-footer a { 
    color: White; 
    line-height: 3;
    font-size: 18px;
    font-weight: 600;
}

.btn-donate-footer {
   background-color: #2A5953;
   margin-top:20px;
   color: #ffffff;
}



/* ---------- EXHIBITION SPACES ------------ */ /* ---------- PAGE 2 ------------ */


/* ---------- BANNER ------------ */



.container-banner-exhibition {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-image: url(Images/banner-exhibition-test.jpg);
    background-position: center;
    background-color: grey;
    background-blend-mode: multiply;
    background-size: cover;
    height: 60vh; 
}

.exhibition-title {
    margin: 50px 0px 020px 0px; 
    border-bottom: 2px rgb(219, 216, 216) solid;

}

.content-exhibition img { 
    width: 100%;
    margin: auto; 
    height: 300px;
    object-fit: cover;
    
}

.content-exhibition { 
    margin: 20px 5px 20px 5px; 
    background-color: aliceblue; 
}

.exhibition-text {
margin-left: 5px; 
}

.content-title { 
    margin: 0;
}


#Image-adjustment-ecology {
    object-fit: cover;
}


/* ---------- COSMOLOGY PAGE ------------ */


/* ---------- BANNER ------------ */

.container-banner-cosmology { 
    width: 100%;
margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-image: url(Images/exhibition-cosmology.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh; 
}
/* ---------- Content Cosmology ------------ */

.container-cosmology-content1 {
    display: flex;
    gap: 50px;
}

.container-cosmology-content1 img {
    width: 400px;
    height: 350px;
    object-fit: cover;
}


.title-cosmology-images {
    border-bottom: 2px rgb(219, 216, 216) solid;
}

.container-cosmology-content-images {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.container-cosmology-content-images img {
width: 100%;
height: 300px;
object-fit: cover;
}

.cosmology-content {
    background-color: #2A5953;
    color: white;
}
.booknow-btn-cosmology-page {
    margin: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: #3E363F;
    text-align: center;

}

.booknow-btn-cosmology-page h4{
    padding-top: 20px;
   padding-bottom: 20px;
   color: white;

}

/* ---------- GET INVOLVED / EXPLORE  ------------ */


.container-banner-explore-page {
    width: 100%;
    margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        background-image: url(Images/explore-northernlight.jpg);
        background-color: grey;
        background-blend-mode: multiply;
        background-size: 100%;
        background-position: center;
        height: 60vh; 
}


.question-tab {
    background-color: #3E363F;
    color: white;
    height: 30px;
}

.question-tab h3 {
padding: 0px 5px;
font-size: 18px;
}


.text-padding-left {
 padding-left: 5px;
}

#contactus-btn {
background-color: black;
color: white;
padding: 5px 10px 5px 10px;
}

.container-explore {
    padding-top: 30px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; 
    box-sizing: border-box;
    margin: 6px 0 16px 0;
    resize: vertical;
    font-family: "Nunito Sans";

}

.contact-form  label {
font-weight: 600;
}

.submit-btn {
    background-color: #EDCA28;
    float: right;
    cursor: pointer;
    display: inline-block;
  padding: 0.5em 3em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald";
  }

  .submit-btn:hover {
    background-color: #99831f;
    color: white;
  }

  select {
    font-family: "Nuntito Sans";
  }

/* ---------- VISIT US PAGE ------------ */

.container-banner-visit-page {
    width: 100%;
        background-image: url(Images/exhibition-robots.jpg);
        background-color: grey;
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center;
        height: 60vh; 
}

.banner-text-flex {
    display: flex;
    align-items: flex-end; 
    justify-content: space-between;
    width: 60%;
    height: 60vh;
    margin: auto;
    }
/* ---------- TICKET PAGE ------------ */

.container-banner-tickets {
    width: 100%;
    margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        background-image: url(Images/Tickets-science-museum.jpg);
        background-color: grey;
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center;
        height: 60vh; 
}

.ticket-flex-container {
    display: flex;
}
.ticket-text {
    margin-top: 20px;
    padding: 5px 10px 25px 10px;
    flex: 2;
    background-color: #2A5953;
    color: white;
    background-repeat: no-repeat;
    background-position: bottom left;
}

.ticket-text h2 {
    margin-bottom: 10px; 
}

.ticket-purchase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-color: #3E363F;
    margin: 20px 0 10px 10px; 
    padding: 20px; 
    text-align: center;
    color: white;
}

.ticket-purchase h3, .ticket-purchase h4 {
    margin: 0;
    color: rgb(253, 253, 253);
}

.content2-tickets {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    border-top: 1px black dotted;
    color: white;
    background-image: url(Images/Egyptian-background-tcketpage.png) ;
    background-repeat: no-repeat;
    background-position: bottom left;
    font-weight: 600;
}

.banner-tickets {
    justify-content: center;
}
    

.explore-title { 
    margin: 10px 0px 0px 0px;
    text-transform: inherit;
    font-family: "Nunito Sans";
    font-weight: 600;
    font-size: 1.2rem;
}

/* ---------- LABEL AND INPUT TICKET PAGE ------------ */

#start, #available {
    width: 40%;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    
}

/* ---------- THANK YOU PAGE ------------ */
.container-banner-thankyou {
    width: 100%;
    margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        background-image: url(Images/thankyou-tickets.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-color: #706a6a;
        background-position: center;
        height: 60vh; 
}

.Thankyou-text {
    text-align: center;
}

.btn-thankyou {
    margin-top: 50px;
    background-color: #EDCA28;
    color: black;
}

/* ---------- MEDIA QUERIES ------------ */

/* ---------- ALL MEDIA QUERIES RELATED TO WIDTH  ------------ */







/* ---------- 1920 PX  ------------ *//* ---------- 1920 PX  ------------ *//* ---------- 1920 PX  ------------ *//* ---------- 1920 PX  ------------ */
@media (max-width: 1920px) {
    .Container-width-content, .banner-text, .banner-text-flex,  .Container-width-content-explore, .footer {
        width: 80%;
    }

  }
/* ---------- 1300 PX  ------------ *//* ---------- 1300 PX  ------------ *//* ---------- 1300 PX  ------------ *//* ---------- 1300 PX  ------------ */

  @media (max-width: 1300px) {
    .Container-width-content, .banner-text, .Container-width-content-explore, .banner-text-flex, .footer {
        width: 90%;
    }

  }

  
  /* ---------- 1055px ------------ *//* ---------- 990 PX  ------------ *//* ---------- 990 PX  ------------ *//* ---------- 990 PX  ------------ */

  @media (max-width: 1110px) {
    .Container-width-content, .banner-text, .Container-width-content-explore, .banner-text-flex, .footer{
        width: 95%;
    }


/* ---------- 1110px  ------------ *//* ---------- NAV-HAMBURGER MENU  ------------ */
.Logo-nav-holder    { 
    display: inline;
}

#nav-front { 
    display: none;
    position: absolute;
    background: black; 
    width: 100%;
    left: 0;
    
}

#nav-front a {
    display: block;
    text-align: center;
    padding: 30px 0px 30px 30px;
    margin: 0;
}



#menu-checkbox:checked ~ #nav-front  {
    display: inline-block;
    
}

 .fa-xl {
    display: block;
    position: absolute;
    right: 40px;
    top: 50px;
    font-size: 32px;
}
/* ---------- 1110px PX  ------------ *//* ---------- BANNER -TEXT + SOCIAL MEDIA ICONS  ------------ */
.container-banner {
    flex-direction: column;
    justify-content:end;
}

.social-media-icons {
    display: none;
}

h1 {
    font-size: 2rem;
    
}






/* ---------- 1110px  ------------ *//* ---------- INDEX  ------------ */

 /* ---------- GRIDS  ------------ */
    .container-content1, .exhibitions {
        grid-template-columns: 1fr;
    }

    .Opening-hours { 
        grid-row: 2;
        margin: 0;
        padding: 20px 0 20px 0; 
    }

    .container-content1 h2, .Evolution {
        margin: 0;
    }

    .Welcome-text-content1 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #freeticket-slogan { 
        margin: 0;
        padding: 0;
    }

    /* ---------- 1110 PX  ------------ *//* ---------- FLEX-CONTAINERS  ------------ */
    .container-events, .container-activities, .ticket-flex-container {
        flex-direction: column;
    }

    .new-exhibition-text {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #white-p {
        position: absolute;
        top: 110px;
        font-size: 1rem;

    }
    

/* ---------- 1110px  ------------ */ /* ---------- COSMOLOGY PAGE ------------ */


    .image-cosmology img {
        width: 100%;
    }
        .container-cosmology-content1 {
            flex-direction: column-reverse;
        }
    
        .container-cosmology-content-images {
            grid-template-columns: 1fr;
            
        }

        .container-banner-tickets { 
            flex-direction: column-reverse
        }
    

        .ticket-purchase {
            margin: 0; 
        }
}



/* ---------- 700 PX  ------------ */
  @media (max-width: 750px) {

  .hidden-below-900px { 
    display: none;
  }

  section {
    padding-bottom: 10px ;
    

  }

  
  }

  @media (max-width: 550px) {
    .footer {
        flex-direction: column-reverse;
        padding-bottom: 10px;
    }

    .navigation-footer { 
        border-bottom: 1px white solid;
        border-top: 1px white solid;
        margin: 20px 0 20px 0;
    }


  }

  @media (max-width: 550px) {

    .content2-tickets {
        background-size: 30%;
    }
  }


@media (max-width: 375px) {

#Logo { 
    padding-left: 0;
    
}

.fa-xl {
    right: 10px;
    
}

}