






/* ---------- General styles------------ */

body {
    margin: 0;
    padding: 0;
}

p { 
    margin: 5px;
    font-family: "Nunito Sans";
    font-size: 1rem;

}

h1, h2, h3, h4 {
    font-family: "Oswald";
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

h4 {
    font-size: 20px;
}


a {
    text-decoration: none; 
    font-family: "Oswald";
}
#header {
    background-color: black;
    height: 100px;
    width: 100%;
}

.title-events {
    font-weight: 600;
}



.Logo-nav-holder {
    display: flex;
    justify-content: space-around;

}

#Logo { 
padding: 20px;
    
}

#nav-front {
    display: flex;
   justify-content: space-around;
    color: white;
    font-size: 20px;
    line-height: 3;
    font-family: "Oswald";
}

#booknow-btn {
    background-color:#1189F6; 
    padding: 0;
    margin-left: 40px;
    width: 140px;
    height: 60px;
    text-align: center;
}
 
/* ---------- BANNER ------------ */
.container-banner {
    width: 100%;
    position: relative;
    background-image: url(Images/Frontpageindex.png);
    background-size: 80%;
    background-blend-mode: multiply;
    background-color: rgba(46, 38, 38, 0.363);
    min-height: 750px; 
    
}

.Welcome-text {
    position: absolute;
    color: white;
    bottom: 7vh;
    left: 30vh;
    text-transform:uppercase; 
    font-family: "Oswald";
}
  
#p-banner {
    position: absolute;
    bottom: 7vh;
    left: 30vh;
    text-transform:capitalize;
    font-family: "Nunito Sans";
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

/* ---------- UNDER BAR BANNER ------------ */

.banner-text { 
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    background-color: #3E363F;
    font-family: "Nunito Sans";
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 2;
    height: 60px;
}

#banner-btn {
    color: white;
    background-color: #1189F6;
    padding: 6px;
    width: 100px;
    text-align: center;
    align-self: center;
    font-family: "Oswald";
    text-transform: uppercase;
}

.banner-text p {
    color: white;
}
.banner-side-color {
    background-color: #3E363F;
}


/* ---------- CONTENT 1 ------------ */

.container-content1 { 
    width: 60%;
    margin: auto;
        display: grid; 
        grid-template-columns: 2.5fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "Welcome-text Opening-hours ."
          ". . ."
          ". . ."; 
      }
      .Welcome-text-content1 { grid-area: Welcome-text; }
      .Opening-hours { grid-area: Opening-hours; }

.Opening-hours {
    padding-left: 100px;
    background-color: #ffffff;
    font-weight: 600;
    
}


.Welcome-content1  h2 { 
    padding-bottom: 10px;
}

.Welcome-text1 p { 
    padding-bottom: 10px;
    
}

.p-content1-space {
    padding-bottom: 10px;
}

#freeticket-slogan {
    margin: 20px 0px 20px 0px;
    font-weight: 600;
}

#welcome-text-btn {
    background-color: #1189F6;
    color: white;
    padding: 10px;
    font-family: "Oswald";
    text-transform: uppercase;
    padding: 5px 20px 5px 20px;
}



/* ---------- CONTENT 2 EXHIBITIONS ------------ */


#Exhibition-spaces-title {
    width: 60%;
    margin: auto;
    padding-top: 50px;
    font-family: "Oswald";
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.Exhibition-images {
    width: 100%;
    height: 350px;
    min-height: 350px;
    object-fit: cover;
    gap: 40px;
}


.exhibitions {
    width: 60%;
    margin: auto;
   
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Cosmology Evolution ."
      ". . ."
      ". . ."; 
  }
  .Cosmology { grid-area: Cosmology; }
  .Evolution { grid-area: Evolution; }

  .exhibitions h4 {
    font-family: "Oswald";
    font-size: 1.5rem;
    margin: 0;
  }

  .Cosmology p {
    font-family: "Nunito Sans";
    }

  .Evolution {
    padding-left: 20px;
  }

  .Evolution p {
  font-family: "Nunito Sans";
  }

  .Learnmorebtn { 
    font-family: "Oswald";
    font-weight: 700;
    background-color: black;
    color: white;
    width: 100px;
    text-align: center;
    margin-top: 20px;
  }


  /* ---------- CONTENT 3 EVENTS ------------ */


  .container-events, .Events-title {
    width: 60%;
    margin: auto;
  }

.container-events {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.container-events img {
   width: 100%;
}
.background-color1 {
    background-color: #1189F6;
}

.first-event {
    background-color: #FBD54D;
    padding-bottom: 20px;
    flex: 1;
}

.second-event {
    background-color: #26CDF1;
    padding-bottom: 20px;
    flex: 1;
}

.third-event {
    background-color: #B575F5;
    padding-bottom: 20px;
    flex: 1;
}

#Content3-btn {
background-color: black;
color: white;
padding: 5px 15px 5px 15px;
margin: 0px 5px 0px 10px;
text-transform: uppercase;
}

.space {
    padding-bottom: 20px;
}


.container-getinvolved {
    width: 60%;
    margin: auto;
    display: flex;
    gap: 50px;
}

.container-getinvolved img {
    width: 100%;
}

.first-getinvolved{ 
    flex: 1; 
}

.second-getinvolved {
    flex:1;
}

.third-getinvolved {
    flex: 1; 
}



/* ---------- FOOTER ------------ */


footer {
    padding-top: 50px;
}

.footer {
    background-color: black;
    color: white;
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    
}

.footer-side-color {
    background-color: black;
}

.opening-hours-footer {
    flex: 1;
    margin-top: 0px;
}

.opening-hours-footer h4 {
    flex: 1;
    margin: 0;
}
.navigation-footer { 
    color: White; 
    line-height: 3;
    font-size: 24px;
    flex: 1;
}

.navigation-footer p { 
    color: White; 
    line-height: 3;
    font-size: 18px;
    font-weight: 600;
}

.Donate-btn-banner p {
    background-color: #B575F5;
    flex: 1;
    padding: 20px;
    margin-top: 20px;
    font-weight: 600; 
    font-family: "Oswald";
}