






/* ---------- General styles------------ */

body {
    margin: 0;
    padding: 0;
}

.no-margin { 
    margin: 0;
}

.Container-width-content {
    width: 70%;
    margin: auto;
}
/* ---------- PADDING BETWEEN SECTIONS AND TITLES------------ */

section { 
    padding-bottom: 50px;
    padding-top: 0px;
    border-bottom: 2px dotted #3E363F;
}

a {
    text-decoration: none;
    color: black;
    
}

/* ---------- HOVER STYLES------------ */
.Learnmorebtn:hover {
    text-decoration: underline;
}



a:hover {
    text-decoration: underline;
    color: black;
    
}

/* Typography Styles */
h1, h2, h3, h4, a  {
    font-family: "Oswald";
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
    margin-top: 20px;
    text-transform: uppercase;
}

h4 {
    font-size: 20px;
}

p { 
    margin: 5px;
    font-family: "Nunito Sans";
    font-size: 1rem;
}


a {
    text-decoration: none; 
}

.title-events {
    font-weight: 600;
}

/* HEADER */
#header {
    background-color: black;
    height: 100px;
    width: 100%;
}


.Logo-nav-holder {
    display: flex;
    justify-content: space-around;

}

#Logo { 
padding: 20px;
    
}

#menu-checkbox, .fa-xl {
    display: none;
}

#nav-front {
    display: flex;
   justify-content: space-around;
    color: white;
    font-size: 1.2rem;
    line-height: 3;
    font-family: "Oswald";
}

#nav-front a {
    color: white;
}

.booknow-btn {
    background-color:#1189F6; 
    padding: 0;
    margin-left: 40px;
    width: 140px;
    height: 60px;
    text-align: center;
    
}
 
/* Banner Styles */
.container-banner {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-image: url(Images/Exhibition-evolution.jpg);
    background-size: 100%;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(46, 38, 38, 0.363);
    height: 60vh; 
    
    
}

.Welcome-text {
    color: white;
    text-transform:uppercase; 
    font-family: "Oswald";
    margin-bottom: 50px;
}

#h1-banner {
    margin: 0;
}
  
#p-banner {

    text-transform:capitalize;
    font-family: "Nunito Sans";
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.social-media-icons {
    padding-bottom: 50px;
}

#positioning-margin-instagram {
    margin-bottom: -5px;
}

/* ---------- UNDER BAR BANNER ------------ */

.banner-text { 
    width: 70%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    background-color: #3E363F;
    font-family: "Nunito Sans";
    font-weight: 600;
    line-height: 2;
    
}

#banner-btn {
    color: white;
    background-color: #1189F6;
    padding: 0.4rem 0.8rem;
    text-transform: uppercase;
    box-shadow: 1px 1px 1px 1px #b9b5b5; 
}

.banner-text p {
    color: white;
}
.banner-side-color {
    background-color: #3E363F;
}

/* ---------- Title styles - index ------------ */

.Title-seeall-category { 
    width: 100%;
    margin: 30px auto 0px auto; 
    display: flex;
    
}

.content-title-h3 { 
    margin: 0;
    
}

.title-clickable-seemore {
color: #1189F6;
align-self: end;
padding-left: 5px;
line-height: 2;
}

.clickable-link { 
    display: inline-block;
}

/* ---------- CONTENT 1 ------------ */

.container-content1 { 
    width: 100%;
    padding-top: 20px;
    gap: 10px;
    margin: auto;
        display: grid; 
        grid-template-columns: 2.5fr 1fr; 

}

.Opening-hours { 
    text-align: center;
    font-weight: 600;
    background-color: #1189F6;
    color: white;
}

.p-content1-space {
    padding-bottom: 20px;
}

#freeticket-slogan {
    margin: 20px 0px 20px 0px;
    font-weight: 600;
}

#welcome-text-btn {
    background-color: #1189F6;
    color: white;
    padding: 0.5rem 2rem; 
    text-transform: uppercase;
    box-shadow: 1px 1px 1px 1px #b9b5b5; 
}



/* ---------- CONTENT 2 EXHIBITIONS ------------ */




.exhibitions {
    width: 100%;
    margin: auto;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    
}

  .Exhibition-images {
    width: 100%;
    height: 350px;
    min-height: 350px;
    object-fit: cover;
}

  .exhibitions h4 {
    margin: 0;
  }

  .Cosmology {
    background-color: aliceblue;
  }

  .Evolution {
    background-color: aliceblue;
  
    margin-left: 2em; 
  }

  .Learnmorebtn { 
    font-family: "Oswald";
    font-weight: 700;
    background-color: black;
    color: white;
    width: 100px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    text-transform: uppercase;
  }


  /* ---------- CONTENT 3 EVENTS ------------ */


  .container-events, .Events-title {
    width: 100%;
    margin: auto;
  }

.container-events {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.container-events img {
   width: 100%;
   height: 20vh;
   object-fit: cover; 
   max-width: 100%;
}
.background-color1 {
    background-color: #1189F6;
}

.first-event {
    background-color: #FBD54D;
    flex: 1;
    padding: 10px 10px 20px 10px;
}

.second-event {
    background-color: #26CDF1;
    flex: 1;
    padding: 10px 10px 20px 10px;
}

.third-event {
    background-color: #B575F5;
    flex: 1;
    padding: 10px 10px 20px 10px;
}

#Content3-btn {
background-color: black;
color: white;
padding: 5px 15px 5px 15px;
text-transform: uppercase;
}

.space {
    padding: 0px 5px 20px 0px; 
}


.container-getinvolved {
    width: 100%;
    margin: auto;
    display: flex;
    gap: 50px;
}


.container-getinvolved img {
    width: 100%;
    height: auto; 
    object-fit: cover;
    height: 250px;
}


.first-getinvolved{ 
    flex: 1; 
    padding: 10px 10px 20px 10px;
    background-color: #B575F5;
   
    
}

.second-getinvolved {
    flex:1;
    padding: 10px 10px 20px 10px;
    background-color: #26CDF1;
    
}

.third-getinvolved {
    flex: 1; 
    padding: 10px 10px 20px 10px;
    background-color: #FBD54D;
    box-shadow: 1px 1px 1px 1px black;
    
}



/* ---------- ARROW UP BTN ------------ */

.arrow-up-btn {
    padding-top: 50px;
    width: 100%;
    margin: auto;
    
    
}

#arrow-up-btn { 
    float: right; 
    background-color: #D9D9D9;
    padding: 5px 40px 5px 40px;
    
}

/* ---------- FOOTER ------------ */


footer {
    margin-top: 50px;
    padding-top: 50px;
}

.footer {
    background-color: black;
    color: white;
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    
}

.footer-side-color {
    background-color: black;
}

.opening-hours-footer {
    flex: 1;
    margin-top: 0px;
}

.opening-hours-footer h4 {
    flex: 1;
    margin: 0;
}
.navigation-footer { 
    color: White; 
    line-height: 3;
    font-size: 24px;
    flex: 1;
}

.navigation-footer p { 
    color: White; 
    line-height: 3;
    font-size: 18px;
    font-weight: 600;
}

.Donate-btn-banner p {
    background-color: #1189F6;
    flex: 1;
    padding: 20px;
    margin-top: 20px;
    font-weight: 600; 
    font-family: "Oswald";
}



/* ---------- EXHIBITION SPACES ------------ */


/* ---------- BANNER ------------ */



.container-banner-exhibition {
width: 100%;
margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-image: url(Images/banner-exhibition-test.jpg);
    background-position: center;
    background-color: grey;
    background-blend-mode: multiply;
    background-size: cover;
    height: 60vh; 
}

.container-exhibitions {
    width: 100%;
    margin: auto;
}

.exhibition-title {
    margin: 50px 0px 020px 0px; 
}

.content-exhibition img { 
    width: 100%;
    margin: auto; 
    height: 300px;
    object-fit: cover;
}

.content-exhibition { 
    padding: 20px 0px 20px 0px; 
}

.content-title { 
    margin: 0;
}

.exhibition-title {
    border-bottom: 3px black solid;
}

#Image-adjustment-ecology {
    object-fit: cover;
}

.exhibition-arrow-up-btn {
    width: 100%;
    
}

/* ---------- COSMOLOGY PAGE ------------ */


/* ---------- BANNER ------------ */

.container-banner-cosmology { 
    width: 100%;
margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-image: url(Images/exhibition-cosmology.jpg);
    background-position: center;
    background-color: grey;
    background-blend-mode: multiply;
    background-size: cover;
    height: 60vh; 
}
/* ---------- Content Cosmology ------------ */

.container-cosmology-content1 {
    width: 100%;
    padding-top: 50px;
    display: flex;
    margin: auto;
    gap: 10px;
}

.container-cosmology-content1 img {
    width: 400px;
    height: 350px;
    object-fit: cover;
    flex: 1;
}



.Cosmology-text {
    flex: 1;
}
.container-cosmology-content1 h3, p{
    margin: 0;
}

.position-paragraph-cosmology { 
    margin-bottom: 25px;
}

.title-cosmology-images {
    width: 100%;
    margin: auto;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.container-cosmology-content-images {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.container-cosmology-content-images img {
width: 100%;
height: 300px;
object-fit: cover;
}

.booknow-btn-cosmology-page {
    width: 100%;
    margin: auto;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    padding-bottom: 20px;
    margin-bottom: 20px;

}

.booknow-btn-cosmology-page h4{
   color: black;
   font-family: "Nunito Sans";
   font-weight: 300;

}

/* ---------- EXPLORE WITH US PAGE  ------------ */


.container-banner-explore-page {
    width: 100%;
    margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        background-image: url(Images/explore-northernlight.jpg);
        background-color: grey;
        background-blend-mode: multiply;
        background-size: fill;
        background-position: center;
        height: 60vh; 
}

.container-explore {
    width: 100%;
    margin: auto;
}

.question-tab {
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: #1189F6;
    color: white;
    height: 50px;
    border-radius: 5px;
    padding-top: 2px;
}

.question-tab h4 {
margin: 10px 0px 0px 20px;
}

.explore-title {
    margin: 10px 0px 10px 0px; 
}
/* ---------- MEDIA QUERIES ------------ */

/* ---------- ALL MEDIA QUERIES RELATED TO WIDTH  ------------ */







/* ---------- 1920 PX  ------------ *//* ---------- 1920 PX  ------------ *//* ---------- 1920 PX  ------------ *//* ---------- 1920 PX  ------------ */
@media (max-width: 1920px) {
    .Container-width-content, .banner-text {
        width: 80%;
    }

  }
/* ---------- 1300 PX  ------------ *//* ---------- 1300 PX  ------------ *//* ---------- 1300 PX  ------------ *//* ---------- 1300 PX  ------------ */

  @media (max-width: 1300px) {
    .Container-width-content, .banner-text {
        width: 90%;
    }

  }

  
  /* ---------- 990 PX  ------------ *//* ---------- 990 PX  ------------ *//* ---------- 990 PX  ------------ *//* ---------- 990 PX  ------------ */

  @media (max-width: 990px) {
    .Container-width-content, .banner-text{
        width: 95%;
    }

    .Opening-hours {
        width: 70%;
        margin: 50px auto 0px auto;
        padding: 20px 0px 20px 0px;
        box-shadow: 2px 3px 2px 3px #B575F5; 
    }

/* ---------- 990 PX  ------------ *//* ---------- NAV-HAMBURGER MENU  ------------ */
.Logo-nav-holder    { 
    display: inline;
}

#nav-front { 
    display: none;
   position: absolute;
    background: black; 
    top: 100px;
    width: 100%;
    text-align: center;
}

.booknow-btn {
   width: 80%;
   margin: 0 auto 20px auto;
   padding-left: 40px;
   
}

#menu-checkbox:checked ~ #nav-front {
    display: block;
}

 .fa-xl {
    display: block;
    position: absolute;
    right: 40px;
    top: 50px;
    font-size: 32px;
}
/* ---------- 990 PX  ------------ *//* ---------- BANNER -TEXT + SOCIAL MEDIA ICONS  ------------ */

.container-banner {
    display: block;
    position: relative;
}

h1 {
    font-size: 30px;
}

.banner-image {
    position: absolute;
    top: 400px;
    left: 10px;
}
#p-banner {
    font-size: 1rem;
}

.social-media-icons {
    position: absolute;
    right: 1px;
    bottom: 0px;
}



/* ---------- 990 PX  ------------ *//* ---------- INDEX  ------------ */
    .container-content1, .exhibitions {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .container-content1 h2, .Evolution {
        margin: 0;
    }

    .container-events, .container-getinvolved {
        flex-direction: column;
    }

    

/* ---------- 990 PX  ------------ */ /* ---------- COSMOLOGY PAGE ------------ */


    .image-cosmology img {
        width: 100%;
    }
        .container-cosmology-content1 {
            flex-direction: column-reverse;
        }
    
        .container-cosmology-content-images {
            grid-template-columns: 1fr;
            
        }
    
    



/* ---------- 700 PX  ------------ */
  @media (max-width: 700px) {

  .hidden-below-900px { 
    display: none;
  }

  section {
    padding: 0;
    

  }
  .booknow-btn-cosmology-page {
    display: flex;
    flex-direction: column;
    text-align: center;

  }
  
  .Welcome-text-content1 {
    display: flex;
    flex-direction: column;
  }

  #welcome-text-btn {
    text-align: center;
    


  }
  .Opening-hours {
   background-color: #F67E11;
   padding-bottom: 40px;
   padding-top: 20px;
  }
  }


@media (max-width: 375px) {

#Logo { 
    padding-left: 0;
    
}

.fa-xl {
    right: 10px;
    
}

}